body{
    width: 654px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{

    font-family: 'Times New Roman', Times, serif;
}
a:hover{
    color: brown;
    text-decoration: underline;
}

img{
    width: 800px;
}

.logo{
    font-size: 30px;
}


.rlink:link{
    color: black;
    text-decoration: none;
}

.rlink:visited{
    color: black;
    text-decoration: none;
}

.rlink:hover{
    color: darkred;
    text-decoration: underline;
}



span{
    background-color: rgb(178, 176, 179);
    padding: 10px;
    margin: 15px;
}